PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=database_name
DB_USER=user
DB_PASSWORD=database_password

POSTGRES_DB=database_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password

JWT_SECRET=your_jwt_secret